// Override default variables before the import
// $body-bg: #000;

// Import Bootstrap and its default variables
@import "~antd/dist/antd.css";
@import "~bootstrap/scss/bootstrap.scss";
@import "./assets/styles/antd-overwrite.scss";
@import "./assets/styles/login.scss";
@import "./assets/styles/chat.scss";
@import "./assets/styles/profile.scss";
@import "./assets/styles/survey.scss";

body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #f8f9fd;
  color: gray;
}

.home-carousel .carousel-item {
  height: 450px;
}

.home-carousel .carousel-item .img {
  margin-left: auto;
  margin-right: auto;
}

svg {
  vertical-align: unset;
}

h3 {
  color: #fff;
}

.color-dark {
  color: #000;
}

.bg-primary {
  background: #2ecc71 !important;
}

#posts .card img {
  width: 200px;
  height: 250px;
}

#home {
  //background: #27ae60;
  background: #eef0f1;
}

.mini-text {
  font-size: 12px;
}

.home-carousel .carousel-item {
  background: black;
}

.home-carousel .carousel-item img {
  object-fit: cover;
  opacity: 0.4;
}

.btn-approve {
  background: #2ecc71;
  border-color: #2ecc71;
}

.btn-approve:hover {
  background: #27ae60;
  border-color: #27ae60;
}

.btn-reject {
  background: #e74c3c;
  border-color: #e74c3c;
}

.btn-reject:hover {
  background: #c0392b;
  border-color: #c0392b;
}
