// Override default variables before the import
// $body-bg: #000;

// Import Bootstrap and its default variables
@import "~antd/dist/antd.css";
@import "~bootstrap/scss/bootstrap.scss";
@import "./assets/styles/antd-overwrite.scss";
@import "./assets/styles/login.scss";
@import "./assets//styles//chat.scss";

body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  font-weight: normal;
  background: #f8f9fd;
  color: gray;
}

.home-carousel .carousel-item {
  height: 450px;
}

.home-carousel .carousel-item .img {
  margin-left: auto;
  margin-right: auto;
}

svg {
  vertical-align: unset;
}

h3 {
  color: #fff;
}
