.ftco-section {
  padding: 6em 0;
}

a:hover {
  color: #0056b3;
  text-decoration: none;
}

.login-wrap {
  position: relative;
  background: #fff;
  border-radius: 10px;
  // -webkit-box-shadow: 0px 10px 34px -15px rgb(0 0 0 / 24%);
  -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

.login-wrap .icon {
  width: 80px;
  height: 80px;
  background: #1089ff;
  border-radius: 50%;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.login-wrap .icon span {
  color: #fff;
}

.form-control {
  height: 42px;
  background: #fff;
  color: #000;
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn.btn-primary {
  background: #1089ff !important;
  border: 1px solid #1089ff !important;
  color: #fff !important;
}

.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}

.checkbox-primary {
  color: #1089ff;
}

.checkbox-wrap input:checked ~ .checkmark:after {
  display: block;
  content: "\f14a";
  font-family: "FontAwesome";
  color: rgba(0, 0, 0, 0.2);
}

.checkmark:after {
  content: "\f0c8";
  font-family: "FontAwesome";
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  font-size: 20px;
  margin-top: -4px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.checkbox-primary input:checked ~ .checkmark:after {
  color: #1089ff;
}

.error-msg {
  color: red;
  font-size: small;
  margin-bottom: 10px;
  text-align: center;
}
